
<section class="section section_chance">
    <div class="container">
        <div class="chance">
            <div class="chance__title">
                У вас еще есть <span>шанс <mark>все изменить!</mark></span>
            </div>
            <div class="chance__product">
                <img src="../media/chance/product.png" alt="">
            </div>
            <div class="chance__btn">Заказать <b>по акции</b></div>
        </div>
    </div>
</section>

<section class="section section_chance-footer">
    <div class="container">
        <div class="chance">
            <div class="chance__footer">
                <div class="chance__sub-title">Алкотокс уникален!</div>
                <div class="chance__list">
                    <div class="chance__item">потому что он уникален!</div>
                    <div class="chance__item">а ещё вот поэтому</div>
                    <div class="chance__item">и поэтому</div>
                </div>
            </div>
        </div>
    </div>
</section>
