
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы</div>
            <div class="commits__sub-title">об Alcotox</div>
            <div class="commits__slide owl-carousel js-commits__slide">
                <div class="commits__item">
                    <div class="commits__item-head">Анна Новикова, избавилась от алкоголизма за 1 месяц!</div>
                    <div class="commits__item-body">
                        <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div>
                        <div class="commits__item-description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Анна Новикова, избавилась от алкоголизма за 1 месяц!</div>
                    <div class="commits__item-body">
                        <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div>
                        <div class="commits__item-description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Анна Новикова, избавилась от алкоголизма за 1 месяц!</div>
                    <div class="commits__item-body">
                        <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div>
                        <div class="commits__item-description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
