<section class="section section_drugs">
    <div class="container">
        <div class="drugs">
            <div class="drugs__title">Самый <mark>часто употребляемый</mark> наркотик</div>
            <div class="drugs__sub-title"><mark>Эффект от употребления алкогольных напитков известен каждому:</mark> когда вы навеселе, кажется, что жизнь сплошной праздник. </div>
            <div class="drugs__description">
                Когда вы допиваете первый коктейль, <b>на уровне биохимии уже запущен эйфорический и наркотический эффекты.</b> Воздействие этанола приводит к общему снижению активности нейронов. <b>Психика растормаживается.</b> Социальные нормы отодвигаются. Один становится неуклюжим, у другого похотливо блестят глаза, а третьего агрессивно заносит.
            </div>
            <div class="drugs__dependence">
                <span>Тяга к алкоголю только поначалу кажется безобидным развлечением, доступным способом снять стресс. Однажды вы ловите себя на мысли, что</span> <mark>без спиртного ваша жизнь теряет смысл.</mark>
            </div>
        </div>
    </div>
</section>
