<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__title"><mark>Alkotox</mark> - Забудь об алкоголе <b>за один курс</b></div>
            <div class="face__sub-title">Сделай шаг навстречу <span>трезвости</span></div>
            <div class="face__product"><img src="../media/face/product.png" alt=""></div>
            <div class="face__box">
                <div class="face__check">
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                </div>
                <%- include('form') %>
            </div>
            <div class="face__appearance">взгляните <mark><span>на себя</span> со стороны</mark></div>
        </div>
    </div>
</section>
