
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__title">
                <span><img src="../media/warning/!.png" alt=""></span>
                ОСТЕРЕГАЙТЕСЬ ПОДДЕЛОК!
            </div>
            <div class="warning__info">
                Во избежание подделок и некачественных аналогов, приобретайте оригинальный продукт только на данном сайте.
                <span>100% КАЧЕСТВО ГАРАНТИРОВАНО ПРОИЗВОДИТЕЛЕМ!</span>
            </div>
            <div class="warning__product">
                <img src="../media/warning/product.png" alt="">
            </div>
            <div class="warning__sub-title">как оформить заказ</div>
            <div class="warning__box">
                <figure class="warning__item">
                    <div class="warning__media">
                        <img src="../media/warning/step-1.png" alt="" />
                    </div>
                    <div class="warning__step">ШАГ 1</div>
                    <figcaption class="warning__description">Оставьте заявку на сайте, заполнив форму ниже</figcaption>
               </figure>
                <figure class="warning__item">
                    <div class="warning__media">
                        <img src="../media/warning/step-2.png" alt="" />
                    </div>
                    <div class="warning__step">ШАГ 2</div>
                    <figcaption class="warning__description">Наш менеджер свяжется с вами в течение 60 минут</figcaption>
               </figure>
                <figure class="warning__item">
                    <div class="warning__media">
                        <img src="../media/warning/step-3.png" alt="" />
                    </div>
                    <div class="warning__step">ШАГ 3</div>
                    <figcaption class="warning__description">Мы бережно упакуем Ваш заказ и отправляем его в тот же день</figcaption>
               </figure>
                <figure class="warning__item">
                    <div class="warning__media">
                        <img src="../media/warning/step-4.png" alt="" />
                    </div>
                    <div class="warning__step">ШАГ 4</div>
                    <figcaption class="warning__description">Оплата производится после получения заказа</figcaption>
               </figure>
            </div>
        </div>
    </div>
</section>
