
.warning {
    position: relative;
}

.warning__title {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 700;
    color: #da4750;
    text-transform: uppercase;

    & span {
        min-width: 106px;
        margin-right: 20px;
        text-transform: uppercase;
    }
}

.warning__info {
    max-width: 655px;
    margin-bottom: 50px;
    font-size: 23px;

    & span {
        display: block;
        margin-top: 30px;
        font-weight: 500;
    }
}

.warning__product {
    position: absolute;
    top: 0;
    right: 0;
}

.warning__sub-title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.warning__box {
    display: flex;
    justify-content: space-between;
}

.warning__item {
    width: 187px;
    text-align: center;
}

.warning__media {
    margin-bottom: 20px;
}

.warning__step {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #2eb4ad;
}

.warning__description {
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 1030px) {
    .warning__info {
        max-width: 410px;
    }

    .warning__item {
        width: 160px;
    }

    .warning__description {
        line-height: 1.4;
    }
}

@media (max-width: 768px) {
    .warning__info {
        max-width: none;
        margin-bottom: 35px;
    }

    .warning__product {
        position: static;
        margin-bottom: 35px;
    }

    .warning__box {
        flex-direction: column;
    }

    .warning__sub-title {
        font-size: 24px;
        text-align: left;
    }

    .warning__item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 80px;
        padding-left: 100px;
        text-align: left;

        & + & {
            margin-top: 20px;
        }
    }

    .warning__media {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 80px;
        margin-bottom: 0;
    }

    .warning__step {
        margin-bottom: 0;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .warning__title {
        font-size: 22px;

        & span {
            width: 65px;
            min-width: 65px;
            margin-right: 10px;
        }
    }

    .warning__info {
        font-size: 16px;
        text-align: center;

        & span {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    .warning__sub-title {
        font-size: 22px;
        text-align: center;
    }

    .warning__description {
        font-size: 16px;
    }
}
